extends layout
extends layout
block content
  h1.page-header Система интернет тестирования ИГУМО и ИТ
  .span12.text-center

    .span6.hero-unit.text-center
        block signup
        #gr1
          form(id="signin_form", method="POST", action="/signin").form-horizontal
            legend Вход в систему
            .control-group
              input(type="text", placeholder="Имя пользователя", name).login
            .control-group
              input(type="password", placeholder="Пароль", name).password
            button(type="submit").btn.btn-large.btn-primary Войти в систему
        #gr2.hide
          form(id="signup_form", method="POST", action="/signup").form-horizontal
            legend Регистрационные данные
            div#uname.control-group
              label.control-label Имя пользователя
              .controls
                input(type="text", placeholder="Имя пользователя", name="username")
            div#pwd.control-group
              label.control-label Пароль
              .controls
                input(type="password", placeholder="Пароль", name="password")
            div#pwdch.control-group
              label.control-label Повтор пароля
              .controls
                input(type="password", placeholder="Повтор пароля", name="password_check")

            legend Личные данные      
            div#lname.control-group
              label.control-label Фамилия
              .controls
                input(type="text", placeholder="Фамилия", name="last_name")
            div#fname.control-group
              label.control-label Имя
              .controls
                input(type="text", placeholder="Имя", name="first_name")
            div#mname.control-group
              label.control-label Отчество
              .controls
                input(type="text", placeholder="Отчество", name="middle_name")          

            .btn-group
              a#hidegr2(href="#").btn Отмена
              button(type="submit").btn.btn-primary Зарегистрироваться и войти


    .span2.hero-unit.text-center
      a#signup(href="#") 
        small Еще не зарегистрированы?
      hr
      a#forgot(href="#popup", data-toggle="modal")
        small Забыли пароль?