extends layout
block content
  h1.page-header Система интернет тестирования ИГУМО и ИТ
  .span12.text-center
    .span4.hero-unit.text-center
    
        input(type="text", placeholder="Имя пользователя")

        input(type="password", placeholder="Пароль")

        a(href="#").btn.btn-large Войти в систему
    .span4.hero-unit.text-center
      a(href="#", target="_blank") Еще не зарегистрированы?