block popup
  #popup.modal.hide
    .modal-header
      button(data-dismiss="modal").close ×
      .h3 Сообщение
    .modal-body
      p Ну и зря!
      p Теперь вам скорее всего придется создать себе новый аккаунт.
      p Или же зайдите в комнату 
        strong 615 
        и получите новый пароль и долю унижений.
    .modal-footer
      a(href="#", data-dismiss="modal").btn.btn-primary Закрыть